body {
    background-image: url('../img/about.jpg');

}

body {
    background-image: url('../img/about.jpg');

}

#about-me {
    font-size: 48px;
    display: inline-block;
    margin-top: 80px;
    margin-left: 255px;
}

.me {
    font-size: 32px;
}

#copyright {
    margin-top: 70px;
}
