body {
    background:url('../img/Contact.jpg');
    background-size: cover;
    z-index: -1;
    position: relative;
}



.contact h1 {
    margin-bottom: 0;
    margin-left: 685px;
    display: inline-block;
    font-size: 48px;
}

#contact-form {
    height: 500px;
}

#contact-form iframe {
    float: left;
    border-style: none;
    bottom: 500px;
    background-color: rgba(255,255,255,.4);
    position: relative;
    top: 80px;
    left: 15px;
    width: 35%;
}

#map {
    clear: both;
    font-family: 'Roboto', sans-serif;
}

#map address {
    width: 30%;
    float: right;
    position: relative;
    text-align: center;
    padding-top: 80px;
    font-size: 32px;
}

#phone {
   position: absolute;
   right: 115px;
   top: 775px;
}

.number-email {
    margin-left: 25px;
    font-size: 35px;
    border-radius: 5px;
}

.number-email:hover {
    background-color: #fff;
    color: #000;
}

#email {
    font-size: 32px;
}

#map iframe {
    float: right;
    height: 500px;
    width: 600px;
    position: absolute;
    right: 0;
    top: 175px;
}

/*Footer Starts*/

footer {
    top: 860px;
}

/* Social Media Icons */

.fa-linkedin-square {
    color: #007bb6;
    margin-right: 70px;
}

.fa-linkedin-square:hover {
    color: #fff;
}

.fa-github {
    color: #fff;
}

.fa-github:hover {
    color: rgba(0,0,0,.7);
}

#social-media {
    margin-top: 8px;
    display:inline-block;
}

/* Social Media Icons Ends*/

#copyright {
    margin-top: 15px;
}
