@import url('https://fonts.googleapis.com/css?family=Roboto');


/* UNIVERSALS */
body,html{
  height: 100%;
  background-image: url('../img/home.jpg');
  background-size: cover;
  background-position: center;
  z-index: -2;
}

a {
    text-decoration: none;
    color: #fff;
}

a:focus, a:hover{
  text-decoration: none;
  color: #fff;
}

.uppercase{
    text-transform: uppercase;
}

.white {
    color: #fff;
}

h1{
  margin-top: 0px;
  padding-top: 25px;
}
/*BACKGROUND*/

.hero-text{
  background-color:rgba(0,0,0,.7);
  height: 40%;
}

/*Navigation Starts*/
.nav {
  background-color: transparent;
  border-color: transparent;
}

.navbar-default{
  margin-bottom: 0px;
  background: transparent;
  background-color: transparent;
  border-color: transparent;
  font-size: 24px;
  z-index: 1;
  position:absolute;
  left:34%;
  bottom:13.9%;
}

.navbar li{
  color: #000;
}

.navbar-default .navbar-toggle{
  margin-left: 13px;
}

#navigation-tabs{
  background-color: rgba(0,0,0,.7);
  color: #fff;
  padding: 30px 20px 0px;
}

.navbar-default .navbar-nav>li>a{
  color: rgba(250,250,250,.8);
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{
  border-radius: 4px;
}

.nav-tabs > li > a:hover{
  background-color: rgba(255,255,255,.4) !important;
  border-style:solid;
  border-color:rgba(0,0,0,.4);
}
.navbar-default .navbar-toggle{
  margin-left: 30px;
}

.navbar-toggle{
  float:none;

}

/*Navigation Ends*/


#name h1 {
    padding: 0px;
    position: relative;
    padding-top: 50px;
    font-size: 40px;
}


.title {
    margin: 0;
    padding-top: 150px;
}

hr {
    width: 35%;
    text-align: center;
}


/*Footer Starts*/

footer {
    background-color: rgba(0,0,0,.7);
    padding: 0px;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 90px
}


#social-media {
    margin-top: 8px;
}

#copyright {
    color: #fff;
    margin-top: 70px;
    margin-bottom: 0px;
}

/*@Media*/

@media only screen and (min-width: 360px) and (max-width: 767px){

  .navbar-default .navbar-collapse, .navbar-default .navbar-form{
    background-color: rgba(0,0,0,.7);
  }
  .navbar-fixed-bottom, .navbar-fixed-top{
    position:relative;
  }

  .navbar-default .navbar-toggle{
    background-color: rgba(0,0,0,.7);
  }

  .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover{
    background-color: rgba(0,0,0,.7);
  }

  .container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header{
    border-radius: 5px 5px 5px 5px;
  }

}
